#title{
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, serif;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 5px 5px 5px #888;
}
#title:hover{
	color: #0080d0;
}
#follow{
	float: right;
}
#github{
	float: right;
	width: 50px;
	height: 50px;
	background: url(/images/github.png) no-repeat center center;
	border-radius: 50%;
}
#weibo{
	float: right;
	width: 50px;
	height: 50px;
	background: url(/images/weibo.png) no-repeat center center;
	border-radius: 50%;
}
#google-plus{
	float: right;
	width: 50px;
	height: 50px;
	background: url(/images/google-plus.png) no-repeat center center;
	border-radius: 50%;
}
#github:hover, #weibo:hover, #google-plus:hover{
	border: solid 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.nav{
	height: 50px;
	margin: 0 20px;
	border-bottom: solid 1px #ccc;
	zoom: 1;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.nav ul{
	margin: 0;
}
.nav ul li{
	float: left;
	margin: 0 30px;
	height: 50px;
	line-height: 50px;
	list-style: none;
}
.nav ul li a{
	cursor: pointer;
	font-weight: bold;
}
.nav ul li a:hover{
	text-color: #0080d0;
	text-size: larger;
	text-shadow: 2px 2px 2px #aaa;
}

.nav-scroll{
	background: #fff;
	position: fixed;
	width: 100%;
	margin: 0;
	left: 0;
	top: 0;
}

.back-to-top{
	background: #fff;
	position: fixed;
	right: 50px;
	bottom: 80px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	border: solid 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	line-height: 45px;
}
.back-to-top:hover{
	background: #ddd;
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
.nav {
	margin: 0;
	height: 300px;
}
.nav ul li {
	clear: both;
	display: block;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
}
#follow {
	clear: both;
	display: block;
}


}
