<div class="nav">
	<div style="width: 920px; margin: 0 auto; height: inherit">
	<a id="logo" href="/" title="点击返回首页">必苦其心志的小窝</a>
	<div id="follow">
		<a id="google-plus" title="My google+" href="https://plus.google.com/107690026046415883872" target="_blank"></a>
		<a id="weibo" title="My weibo" href="http://weibo.com/bikuqixinzhi" target="_blank"></a>
		<a id="github" title="My github" href="https://github.com/liangbizhi" target="_blank"></a>
        </div>
	<div class="submenu">
		<div class="avatar-frame">
			<a id="avatar" title="为什么不点一下？" href="/about/index.html" target="_self"></a>
		</div>
		{% include categories.html %}
		{% include monthly.html %}
	</div>
</div>
</div>
