    <div class="nav">
      <ul>
        <li><a id="title" href="/">必苦其心志</li>
        <li><a>Home</a></li>
        <li><a>Writings</a></li>
        <li><a>Projects</a></li>
        <li><a>About me</a></li>
      	<div id="follow">
	  <a id="google-plus" title="My google+" href="http://weibo.com/bikuqixinzhi" target="_blank"></a>
	  <a id="weibo" title="My weibo" href="http://weibo.com/bikuqixinzhi" target="_blank"></a>
	  <a id="github" title="My github" href="https://plus.google.com/107690026046415883872" target="_blank"></a>
        </div>
      </ul>
    </div>
