<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="keywords" content="前端,梁必志,liangbizhi,{{ site.name }},{{ page.title }}" />
    <meta name="description" content="前端博客，博主脑袋有点异常。{{ page.title }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/media/images/favicon.ico" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/iconfont.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" />
    <!--<link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml" />-->
    <!--[if lt IE 9]>
    <div class="bsie">
        您的浏览器版本过旧，请升级为Google Chrome浏览器进行浏览 :-D
        <a href="javascript:void(0);" onclick="this.parentNode.style.display='none';">关闭</a>
    </div>
    <![endif]-->
</head>

<body>
   <!--header-->
    <header id="header" class="">
        <i id="btn-open-sidebar" class="icon iconfont">&#xe60a;</i>
        <h1 class="header-title"><a class="header-title-link" href="/">{{ site.name }}</a></h1>
        <a class="header-right-picture" href="/about/" title="{{ site.author }}">
            <img class="header-picture" src="/media/images/avatar.png" alt="头像">
        </a>
    </header>
    <!--sidebar-->
    <nav id="sidebar">
        <div class="sidebar-profile">
            <a href="/about/" title="{{ site.author }}">
                <img src="/media/images/avatar.png" alt="头像" class="sidebar-profile-picture">
            </a>
            <span class="sidebar-profile-name">{{ site.author }}</span>
        </div>
        <ul class="sidebar-buttons">
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="/">
                        <i class="icon iconfont">&#xe603;</i>
                        <span class="sidebar-button-desc">主&nbsp;&nbsp;&nbsp;&nbsp;页</span>
                    </a>
            </li>
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="/categories/">
                        <i class="icon iconfont">&#xe601;</i>
                        <span class="sidebar-button-desc">分&nbsp;&nbsp;&nbsp;&nbsp;类</span>
                    </a>
            </li>
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="/tags/">
                        <i class="icon iconfont">&#xe609;</i>
                        <span class="sidebar-button-desc">标&nbsp;&nbsp;&nbsp;&nbsp;签</span>
                    </a>
            </li>
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="/guestbook/">

                        <i class="icon iconfont">&#xe606;</i>
                        <span class="sidebar-button-desc">留&nbsp;&nbsp;&nbsp;&nbsp;言</span>
                    </a>
            </li>

            <li class="sidebar-button">

                    <a class="sidebar-button-link" href="/about/">

                        <i class="icon iconfont">&#xe604;</i>
                        <span class="sidebar-button-desc">关&nbsp;&nbsp;&nbsp;&nbsp;于</span>
                    </a>
            </li>

            <li id="sidebar-search" class="sidebar-button">

                    <a class="sidebar-button-link st-search-show-outputs" href="javascript:void(0);">

                        <i class="icon iconfont">&#xe607;</i>
                        <span class="sidebar-button-desc">搜&nbsp;&nbsp;&nbsp;&nbsp;索</span>
                    </a>
            </li>

        </ul>
        <ul class="sidebar-buttons">
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="http://github.com/{{ site.github }}/" target="_blank">
                        <i class="icon iconfont">&#xe605;</i>
                        <span class="sidebar-button-desc">GitHub</span>
                    </a>
            </li>
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="https://plus.google.com/107690026046415883872" target="_blank">
                        <i class="icon iconfont">&#xe608;</i>
                        <span class="sidebar-button-desc">Google Plus</span>
                    </a>
            </li>
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="http://weibo.com/bikuqixinzhi" target="_blank">
                        <i class="icon iconfont">&#xe602;</i>
                        <span class="sidebar-button-desc">Weibo</span>
                    </a>
            </li>

        </ul>
        <ul class="sidebar-buttons">
            <li class="sidebar-button">
                    <a class="sidebar-button-link " href="#">
                        <i class="icon iconfont">&#xe600;</i>
                        <span class="sidebar-button-desc">RSS订阅</span>
                    </a>
            </li>
        </ul>
    </nav>
    <div id="main" role="main">
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <article class="content">
            {{ content }}
        </article>
        <footer>
        <p>Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> &#64;
            <a href="http://github.com/{{ site.github }}/liangbizhi.github.io" target="_blank" title="项目主页">GitHub</a>
            | © 2014 - {{site.time | date:"%Y"}} <a href="/about/">{{ site.author }}</a>
        </p>
        </footer>
    </div>
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61782303-1', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','1ZarQrPGsHydx-KkvfHz','2.0.0');
</script>
<script type="text/javascript" src="/media/js/script.js"></script>
</html>